<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id</th>
    <th>Customer</th>  
  </tr>
  <%= render(@invoices) || "No Invoices" %>

  <%# @invoices.each do |invoice| %>
    <%#= render 'invoice', invoice: invoice %>
    <%#= render partial: 'invoice', locals: {invoice: invoice}%>
  <%# end %>

</table>